<div class="log-stream">
    <span>{{ log.logLevel}}</span>
    <span>Container: {{ log.entityName}}</span>
    <span>Timestamp: {{ log.timestamp | date:'dd/MM/yyyy HH:mm:ss'}}</span>
    <span>TraceId: {{ log.traceId}}</span>
    <span>SpanId: {{ log.spanId}}</span>
    <span>LoggerName: {{ log.loggerName}}</span>
    <br *ngIf="!!log.errorClass">
    <span *ngIf="!!log.errorClass">ErrorClass: {{ log.errorClass}}</span>
    <br *ngIf="!!log.errorMessage">
    <span *ngIf="!!log.errorMessage">ErrorMessage: {{ log.errorMessage}}</span>
    <br *ngIf="!!log.errorStack">
    <span *ngIf="!!log.errorStack" [innerHTML]="formatErrorStack(log.errorStack)"></span>
    <br>
    <span [innerHTML]="formatMessage(log.message)"></span>
</div>